/*MAKE STICKY MENU?*/
.menu {                                             /* Styles the navigation menu */
    list-style-type: none;
    border: 2px black;
    margin: 0;
    padding: 20px;
    background-color: #f7e6ff;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly; /* Centers the menu items */
}
.menu li {                                      /* Styles each list item */
    display: flex;                         
    padding: 0 15px;        /* Adds horizontal spacing between items */
    
}
.menu li a {                                    /* Styles the links */
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu li a:hover:not(.active){                              /* Styles the links on hover */
    background-color: #efccff;
    color: black;
    padding: 5px;
}
.menu li a.active {                           /* Styles the active link */
    background-color: violet;
    margin: 0px  10px 10px;
}



.container{                 /* Styles the main container by Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Full viewport height = based on device */
}


h1, h2 {                            /* Styles the main headings */          
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /*text-decoration: underline;*/
}

p {                                 /* Styles the paragraphs */
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: justify;


}

table, th, td {                                  /* Styles the table, table headers, and table data cells */
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

ul, ol {                                 /* Styles unordered lists */
    margin: 20px;
    padding-left: 40px;
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    color: black;

}
a:hover {                               /* Styles links on hover */
    color: red;
     
    text-decoration: underline;
}
a:visited {
    color: green; 
    
}
/*Add changed color for accessed link*/

@media (max-width: 600px){
    table{
        background-color: red;
    }
     
}
img {
    max-width: 100%;
    height: auto;
}


.logo { 
    width: 90px;
    height: auto;
    margin-top: 30px;
}

.toc {
    width: 100%;
    /*list-style: none; */
}



.citations {                       /* Styles the citations list with hanging indent */
    list-style-type: none;
}
.citations li { 
    text-indent: -50px;
    padding-left: 40px;
    margin-bottom: 10px;
}



#footer {                               /* Styles the footer */
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: honeydew;
}



/* media queries for responsiveness  = w/ @media*/
