

.container{                 /* Styles the main container by Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Full viewport height = based on device */
}


h1, h2 {                            /* Styles the main headings */          
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /*text-decoration: underline;*/
}

p {                                 /* Styles the paragraphs */
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: justify;


}

table, th, td {                                  /* Styles the table, table headers, and table data cells */
    border: 2px black; 
    border-collapse: collapse;
    padding: 25px;
    
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

ul, ol {                                 /* Styles unordered lists */
    margin: 20px;
    padding-left: 40px;
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    color: black;

}
a:hover {                               /* Styles links on hover */
    color: red;
     
    text-decoration: underline;
}
a:visited {
    color: green; 
    
}
/*Add changed color for accessed link*/


     

img {
    max-width: 100%;
    height: auto;
}


.logo { 
    width: 90px;
    height: auto;
    margin-top: 30px;
}



.citations {                       /* Styles the citations list with hanging indent */
    list-style-type: none;
}
.citations li { 
    text-indent: -50px;
    padding-left: 40px;
    margin-bottom: 10px;
}



#footer {                               /* Styles the footer */
   position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: honeydew;
}





.menu {                                             /* Styles the navigation menu */
    list-style-type: none;
    border: 2px black;
    margin: 0;
    padding: 20px;
    background-color: #f7e6ff;
    display: inline-block;

}
.menu li {                                      /* Styles each list item */
    display: inline-block;                         
    padding: 5px;        /* Adds horizontal spacing between items */
}

.menu li a {                                    /* Styles the links */
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu li a:hover:not(.active){                              /* Styles the links on hover */
    background-color: #efccff;
    color: black;
    padding: 5px;
}
.menu li a.active {                           /* Styles the active link */
    background-color: violet;
    margin: 0px  10px 10px;
}

@media (max-width: 600px){
    
    /* FOR MENU*/
    .dropbtn{
        background-color: #f7e6ff;
        border: none;
        display: block;
    }
    #dropdown-content{
        display: none;
    }
    #menu-nav{
        position: relative;
        

    }
    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
   .menu a{
    display: none;
   }
   
   /* FOR BODY TEXT*/
}


@media (min-width: 601px) {
    
    /* FOR MENU*/
    .dropbtn{
        display: none;
    }
    
    .menu li a {
        font-size: 15px;

    }

}

@media (min-width: 992px){

    /* FOR BODY TEXT*/
    .grid-container{
        display: grid;
        grid-template-columns: 30% 70%
    }
    .left {
        background-color: lightcyan; 

    }

}

#toc {
    width: 100%;
    /*list-style: none; */
}
#toc a:hover {
    color: coral;
}
#toc a:visited {
    color: black;
}
